{# Copyright (c) 2014 - 2015, David Bothe                                       #}
{# All rights reserved.                                                         #}
{#                                                                              #}
{# Redistribution and use in source and binary forms, with or without           #}
{# modification, are permitted provided that the following conditions are met:  #}
{#                                                                              #}
{# 1. Redistributions of source code must retain the above copyright notice,    #}
{# this list of conditions and the following disclaimer.                        #}
{#                                                                              #}
{# 2. Redistributions in binary form must reproduce the above copyright notice, #}
{# this list of conditions and the following disclaimer in the documentation    #}
{# and/or other materials provided with the distribution.                       #}
{#                                                                              #}
{# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"  #}
{# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE    #}
{# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE   #}
{# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE    #}
{# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR          #}
{# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF         #}
{# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS     #}
{# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN      #}
{# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)      #}
{# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE   #}
{# POSSIBILITY OF SUCH DAMAGE.                                                  #}

//Created with pive {{ t_pive_version }} - the python interactive visualization environment.
//Visit https://github.com/daboth/pive for more information.

var width = {{ t_width }};
var height = {{ t_height }};	
var padding	= {{ t_padding }};
var textpadding = {{ t_textpadding }};
var elementFontSize = '{{ t_elementFontSize}}';
var	tickFontSize = '{{ t_tickFontSize}}';
var	tickSteps = {{ t_ticksteps }};
var	prefix = '{{ t_tickprefix}}';
var url = '{{ t_url }}';
var div_hook = '{{ t_div_hook }}';

var hashtag = '#';
var hash_div_hook = hashtag.concat(div_hook);

{# ############################# #}
{# CSS inline styles definition. #}
{# Essential when including into #}
{# another div container.        #}
{# ############################# #}

{# Acquire the div container that includes the visualization. #}
var root_div = document.getElementById(div_hook);

{# JavaScript String is immutable, so single strings are defined for readability. #}
var css_line = '#{{ t_div_hook }} .line { stroke: {{ t_line_stroke }}; fill: none; stroke-width: 2.5px}\n',
    css_tooltip = '#{{ t_div_hook }} .tooltip {color: white; line-height: 1; padding: 12px; font-weight: italic; font-family: arial; border-radius: 5px;}\n';
    css_axis_path = '#{{ t_div_hook }} .axis path { fill: none; stroke: {{ t_line_stroke }}; shape-rendering: crispEdges;}\n',
    css_axis_line = '#{{ t_div_hook }} .axis line { stroke: {{ t_line_stroke }}; shape-rendering: {{ t_shape_rendering }};}\n',
    css_path_area = '#{{ t_div_hook }} .path area { fill: blue; }\n';
    css_axis_text = '#{{ t_div_hook }} .axis text {font-family: sans-serif; font-size: {{ t_font_size }}px }\n',
    css_xlabel_text = '#{{ t_div_hook }} .xlabel {font-family: helvetica; font-size: {{ t_axis_label_size }}px }\n',
    css_ylabel_text = '#{{ t_div_hook }} .ylabel {font-family: helvetica; font-size: {{ t_axis_label_size }}px }\n',
    css_x_axis_line = '#{{ t_div_hook }} .x.axis line { stroke: grey; stroke-opacity: 0.25; stroke-width: 2.5px}\n',
    css_y_axis_line = '#{{ t_div_hook }} .y.axis line { stroke: grey; stroke-opacity: 0.25; stroke-width: 2.5px}';

{# The style definitions are concatinated into a single string. #}
var css = css_line.concat(css_tooltip).concat(css_axis_path).concat(css_axis_line).concat(css_path_area).concat(css_axis_text)
          .concat(css_xlabel_text).concat(css_ylabel_text).concat(css_x_axis_line).concat(css_y_axis_line);

{# The style element in the dom is created and included into the root div. #}
var style = document.createElement('style');
style.type = 'text/css';
style.appendChild(document.createTextNode(css));
root_div.appendChild(style);

{# ############################# #}
{# Begin of D3.js Visualization. #}
{# ############################# #}

var innerRadius = Math.min(width, height) * .34,
	outerRadius = innerRadius * 1.2,
	labelFont = "Helvetica",
	transistionSpeed = 500;

{# Drawing the initial SVG containing the chart by selecting the specific div element of the DOM #}
{# and appending a svg tag with the following attributes. The selection is saved as a variable   #}
{# for later reference.                                                                          #}
var svg = d3.select(hashtag.concat(div_hook)).append("svg")
			.attr("width", width)
			.attr("height", height)
			.append("g")
			.attr("transform", "translate(" + width/2 + "," + height/2 + ")");

var fill = {{ t_colors }};

d3.json(url, function(data){

	console.log(data.elements);
	var chordElements = data.elements;
	var matrix = data.matrix;
	console.log(matrix)

	function getColorIndex(index){
			var colorindex = index;
		   	var color;

		   	while (colorindex > fill.length - 1) {
		   		colorindex = colorindex - fill.length;

		   	}
		   	
		   	color = fill[colorindex];
		   	return color;
		}  	

	function generateChord() {		

		svg.selectAll("rect").remove();
		svg.selectAll("g").remove();

		svg.attr("transform", "translate(" + width/2 + "," + height/2 + ")");


		var chord = d3.layout.chord()
				.matrix(matrix)
				.padding(0.05)
				.sortSubgroups(d3.descending);		

		//Select all groups from class "chordGroup"
		var chordGroup = svg.selectAll("g.chordGroup")
					.data(chord.groups)
					.enter().append("svg:g")
					.attr("class", "chordGroup");

		var arc = d3.svg.arc()
					.innerRadius(innerRadius)
					.outerRadius(outerRadius);

		chordGroup.append("path")
			.attr("d", arc)
			.style("fill", function(d) {						
				return getColorIndex(d.index);
			})
			.style("stroke", function(d) {
				return getColorIndex(d.index);
			})
			.attr("id", function(d, i) {
				return "group-" + d.index;
			});

		chordGroup.append("text")
		      .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
		      .attr("dy", ".35em")
		      .attr("font-size", elementFontSize)
		      .attr("font-family", labelFont)
		      .attr("transform", function(d) {
		        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
		            + "translate(" + (outerRadius + textpadding) + ")"
		            + (d.angle > Math.PI ? "rotate(180)" : "");
		      })
		      .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
		      .text(function(d) { return chordElements[d.index]; });



		//Eventlistener for each chordGroup group.
	    chordGroup.on("mouseover", fade(0.05))
			      .on("mouseout", fade(0.75))
			      .on("click", function(d,i) {
			      	showDetail(i);
			      });


	     svg.append("g")
	        .attr("class", "chord")
	        .selectAll("path")
	        .data(chord.chords)
	        .enter().append("path")
	        .attr("d", d3.svg.chord().radius(innerRadius))
	        .style("fill", function(d) {
	        	return chordColor(d);
	        })	
	        .style("stroke", function(d) {
	        	return chordColor(d);
	        })			        
	        .style("opacity", 0.75); 

		var ticks = svg.append("g").selectAll("g")
				   .data(chord.groups)
				   .enter().append("g").selectAll("g")
				   .data(chordTicks)
				   .enter().append("g")
				   .attr("class", "ticks")
				   .attr("transform", function(d) {
				      return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
				          + "translate(" + outerRadius + ",0)";
				    });
				   

		ticks.append("line")
		    .attr("x1", 1)
		    .attr("y1", 0)
		    .attr("x2", 5)
		    .attr("y2", 0)
		    .style("stroke", "#111");

		ticks.append("text")
		    .attr("x", 8)
		    .attr("dy", ".35em")
		    .attr("font-size", tickFontSize)
		    .attr("font-family", labelFont)
		    .attr("transform", function(d) { return d.angle > Math.PI ? "rotate(180)translate(-16)" : null; })
		    .style("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
		    .text(function(d) { return d.label; });

	}

	function chordColor(d) {

				var colorindex = (d.source.value > d.target.value ?
	            d.source.index : d.target.index);
	        return getColorIndex(colorindex);
	    }
	     

	function fade(opacity) {
	    return function(d, i) {
	        svg.selectAll(".chord path")
	            .filter(function(d) {		                	
	                return d.source.index != i &&
	                       d.target.index != i;
	            })
	            .transition()
	            .duration(transistionSpeed)
	            .style("opacity", opacity);
	    };
	};

	//Draws a detailed BarChart containing the absolute weight of the graphnode.
	function showDetail(index) {

		svg.attr("transform", "translate(0,0)");

			svg.selectAll("g").remove()

			detailwidth = width / 1.5;
			detailheight = height / 2;

			var color = getColorIndex(index);
		
			var dataset = matrix[index];

			console.log(dataset);

			var xScale = d3.scale.ordinal()
					.domain(d3.range(dataset.length))
					.rangeRoundBands([0, detailwidth - padding], 0.1);

		var yScale = d3.scale.linear()
					.domain([1, d3.max(dataset)])
					.range([0, detailheight - padding]);

		var xAxisScale = d3.scale.ordinal()
					.domain(chordElements)
					.rangeRoundBands([0, detailwidth - padding], 0.1);

		var yAxisScale = d3.scale.linear()
				.domain([1, d3.max(dataset)])
				.range([detailheight - padding, 0]);


		//Define X axis
		var xAxis = d3.svg.axis()
					  .scale(xAxisScale)
					  .orient("bottom")
					  .ticks(5);

		//Define Y axis
		var yAxis = d3.svg.axis()
					  .scale(yAxisScale)
					  .orient("left")
					  .ticks(10);

	    //Create X axis
		svg.append("g")
			.attr("opacity", 0.0)
			.attr("class", "x axis")
			// .attr("transform", "translate(0," + (detailheight - padding) + ")")
			.attr("transform", "translate("+ padding + "," + (detailheight - padding) + ")")
			.call(xAxis)
			.transition()
			.duration(transistionSpeed)
			.attr("opacity", 1.0);

		//Create Y axis
		svg.append("g")					
			.attr("opacity", 0.0)
			.attr("class", "y axis")
			.attr("transform", "translate(" + padding + ",0)")
			.call(yAxis)
			.transition()
			.duration(transistionSpeed)
			.attr("opacity", 1.0);

		var bars = svg.selectAll("rect")
	       .data(dataset)
	       .enter()
	       .append("rect")
	       .attr("opacity", 0.0)
	       .attr("fill", color)			      
		   .on("click", generateChord)
	       .transition()
	       .duration(transistionSpeed)
	       .attr("class", "bar")
	       .attr("opacity", 1.0)
	       .attr("x", function (d, i) {
	       		return xScale(i) + padding;
	       })
	       .attr("y", function (d) {
	       		return detailheight - yScale(d) - padding; 
	       })
	       .attr("width", xScale.rangeBand())
	       .attr("height", function (d){
	       		return yScale(d);
	       });		        
	};
	 
	 
	// Returns tick angles.
	function chordTicks(d) {
	  var k = (d.endAngle - d.startAngle) / d.value;

	  return d3.range(0, d.value, tickSteps).map(function(v, i) {
	    return {
	      angle: v * k + d.startAngle,
	      label: i % 5 ? null : v / tickSteps + prefix
	    };
	  });
	};
	generateChord();
});	
